footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  footer p {
    margin-bottom: 0;
  }
  

  #mountainsContainer{
    text-align: center;
    font-family: fantasy, 'Times New Roman', Times, serif;
    
}


/* images testing */
.container {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%; 
}

.text-box {
  max-width: 100%; 
  padding: 20px;
  transition: transform 0.5s ease; /* Transition effect for sliding */
  opacity: 0; /* Hide the text box initially */
  transform: translateX(-100%); /* Move the text box to the left */
}

.container:hover .text-box {
  transform: translateX(0); /* Move the text box back to its original position */
  opacity: 1; /* Show the text box */
}


/* more testing */

#mountainImg{
  padding: 30px;
}


body {
  font-family: Arial, sans-serif; /* Use a common sans-serif font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #808080; /* mountain grey background */
}
